@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Passion+One');


#p1 {
    font-family: 'Diplomata SC', cursive;
    color:blue;
}



#footballbody {
    font-family: 'Diplomata SC', cursive;
}



h1 {
    color: blue;
    background-color: black;
    margin-left:20%;
    margin-right:20%;
}



div {
    background-color:black;
}




#footballpic {
    border:black ;
    margin-left:0%;
}




div {
    background-color:black;
    color:blue;
}



h2 {
    margin-left:40%;
    margin-right:40%;
    font-family: 'Josefin Slab', serif;
}




#marchlist {
    font-size:20px;
    font-family: 'Josefin Slab', serif;
}




img {
    display: block;
    margin: auto;
}



h3 {
    margin-left:40%;
    margin-right:40%;
}




.basketball{
    background-color:black;
    color:blue;
    font-family: 'Passion One', cursive;
    font-size:20px;
}




body {
    background-color:black;
}




#p3 {
    color:blue;
    font-size:20px;
}





#hockey {
    margin-right:40%;
    margin-left:40%;
}




#p2 {
    font-family: 'Josefin Slab', serif;
    font-size:20px; 
}




#basketballbody {
    font-family: 'Passion One', cursive;
}
